<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!--<link rel="stylesheet" href="../static/css/style.css">-->
</head>
<body>
<h1>index</h1>
<img src="../static/image/nodejs.jpg" alt="">
</body>

<script>

</script>
</html>
